@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

/* Firefox */
@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: light;
  }
}

/* Chrome */
@media (forced-colors: active) {
  :root {
      color-scheme: light;
  }
}